 body{
            background-color: rgb(0, 0, 0);
            color: white;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        }
    
        h1{
            font-family:'Times New Roman', Times, serif;
            font-size: 40px;
        }
        .P0{
            display: flex;
            padding-right: 80px;
            padding-top: 20px;
            gap: 30px;
            color: rgb(0, 0, 0);
        }
        .Pallu{
            display: flex;
            padding-top: 160px;
            justify-content: space-evenly;
        }
        .P3{
            display: flex;
            height: 45vh;
            width: 20vw;
            border-radius: 50%;
            animation: Floatimage 3s ease-in-out;
        }
        @keyframes FloatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2rem);
    }
}
        .colour{
            color: gold;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        hr{
            margin-top: 50px;
        }
        .P4{
            background-color: rgb(255, 217, 0);
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 50px;
            font-weight: bold;
            /* border: solid 2px ; */
        }
        .Pallu1{
            margin-top: 50px;
            display: flex;
            text-align: justify;
            padding-left: 150px;
            background-color: rgba(104, 103, 103, 0.596);
        }
        .P6{
            border-radius: 50px;
            width: 300px;
            height: 350px;
            border: solid 3px;
            padding: 5px;
        }
        .Pa{
            font-size: 60px;
            color: gold;
        }
        .Pa1{
            font-size: 25px;
        }
        .Pa2{
            display: flex;
            text-align: justify;
        }
        .B{
            background-color: rgb(255, 217, 0);
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 50px;
            font-weight: bold;
        }
        .P6{
            display: flex;
            justify-content: left;
            align-items: center;
        }
        .P5{
            padding-left: 120px;
           
        }
        .Pa3{
            font-size: 50px;
            display: flex;
            justify-content: center;
            
        }
        .P9{
            display: flex;
            justify-content: space-evenly;
        }
        .P8{
            border: solid none;
            text-align: center;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 40px;
            padding-top: 80px;
            background-color: rgba(180, 178, 178, 0.397);
            border-radius: 20px;
            border-bottom: black;
        }
        .P10{
            border: solid none;
            text-align: center;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 40px;
            padding-top: 80px;
            background-color: rgba(180, 178, 178, 0.397);
            border-radius: 20px;
            border-bottom: black;
        }
        .P11{
            border: solid none;
            text-align: center;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 40px;
            padding-top: 80px;
            background-color: rgba(180, 178, 178, 0.397);
            border-radius: 20px;
            border-bottom: black;
        }
        .B1{
            background-color: rgb(255, 217, 0);
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 50px;
            font-weight: bold;
            /* border: solid 2px; */
        }
        .C1{
            color: gold;
        }
        header{
        background-color:gold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 40px;
        /* padding: 1rem 3%; */
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100vw;
        z-index: 1;
        color: black;
        }
       .fa-brands fa-facebook{
        width: 20px;
        height: 20px;
       }
       .Image{
        display: flex;
        gap: 20px;
        padding-bottom: 30px;
       }
       .I1{
        width: 30px;
        height: 30px;
        border: solid 2px white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
       }
       .I2{
        width: 30px;
        height: 30px;
        border: solid 2px white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
       }
       .I3{
        width: 30px;
        height: 30px;
        border: solid 2px white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
       }
       .I4{
        width: 30px;
        height: 30px;
        border: solid 2px white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
       }


       /* Skills */

       .skills{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

.skills-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10rem;
}

.bars{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem 0;
}

.light-bar{
    position: absolute;
    bottom: 0;
    height: 0.5rem;
    background-color: white;
    width: 100%;
    border-radius: 0.5rem;
}

.btn-bar{
    position: absolute;
    bottom: 0;
    background-color: white;
    height: 0.5rem;
    border-radius: 0.5rem;
}

.bars h3{
    font-size: 0.9rem;
}

.bars span{
    font-size: 0.9rem;
    color: var(--btn-color);
}

.btn-python, .btn-sql{
    width: 90%;
}

.btn-django, .btn-tailwind{
    width: 80%;
}

.btn-c{
    width: 85%;
}

.btn-html, .btn-css{
    width: 95%;
}

.btn-js{
    width: 75%;
}

.contact{
    display: flex;
    flex-direction: column;
    background-color: var(--first-bg-color);
    color: var(--text-color);
}

form{
    margin: 0 auto;
    width: 65%;
    text-align: center;
}

.box-1 input, .box-2 input{
    background-color: var(--second-bg-color);
    padding: 1rem;
    width: 49%;
    border: none;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    outline: none;
}

textarea{
    width: 100%;
    background-color: var(--second-bg-color);
    border: none;
    outline: none;
    border-radius: 0.5rem;
    resize: none;
    margin-bottom: 2rem;
    padding: 1rem;
}


footer{
    background-color: var(--second-bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}

.footer-icon a{
    background-color: var(--btn-color);
    padding: 1rem;
    border-radius: 0.5rem;
}

.footer-icon a i{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 900;
}

.skills{
    display: flex;
    flex-direction: column;
    color: white;
}

.skills-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10rem;
}

.bars{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem 0;
}

.light-bar{
    position: absolute;
    bottom: 0;
    height: 0.5rem;
    background-color: white;
    width: 100%;
    border-radius: 0.5rem;
}

.btn-bar{
    position: absolute;
    bottom: 0;
    background-color: gold;
    height: 0.5rem;
    border-radius: 0.5rem;
}

.bars h3{
    font-size: 0.9rem;
}

.bars span{
    font-size: 0.9rem;
    color: white;
}

.btn-python, .btn-sql{
    width: 90%;
}

.btn-django, .btn-tailwind{
    width: 80%;
}

.btn-c{
    width: 85%;
}

.btn-html, .btn-css{
    width: 95%;
}

.btn-js{
    width: 75%;
}

.contact{
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.61); */
    color: white;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

form{
    margin: 0 auto;
    width: 65%;
    text-align: center;
}

.box-1 input, .box-2 input{
    background-color: white;
    padding: 1rem;
    width: 49%;
    border: none;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    outline: none;
}

textarea{
    width: 100%;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    resize: none;
    margin-bottom: 1rem;
    padding: 1rem;
}

a{
    color: white;
}

footer{
    background-color: gold;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    margin-top: 10px;
}

.footer-icon a{
    background-color: black;
    padding: 1rem;
    border-radius: 0.5rem;
}

.footer-icon a i{
    font-size: 1.4rem;
    color: white;
    font-weight: 900;
}
.font{
    font-size: 50px
}
.H2{
color: gold;
}
html{
    scroll-behavior: smooth;
}
